body {
  font-family: Arial;
}

#mainImg {
  width: 35%;

  
}



.sky{
  color:rgb(0, 174, 255);
  text-decoration:underline wavy black;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.yellowBg{
  background-color: yellow;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}

.red{
  color:red;
}

.blue{
  color:blue;
}

.black{
  border:1px solid black;
  background-color: pink;
  
}

.btnStyle{
  background-color: blue;
  color:white ;
}

